@font-face {
    font-family: Fredoka;
    src: url(fonts/FredokaOne-Regular.otf) format("opentype")
}

.default-color-theme {
    color: #e8fffc;
    background-color: #3b4a58;
}

#authorship-theme {
    color: #e8fffc;
    background-color: #222034;
}

body {
    background-image: url('resources/sr5z6b0fd3d84caws3.gif');
    image-rendering: pixelated;
    background-size: 50%;
    background-attachment: fixed;
}

nav {
    text-align: center;
}

a {
    color: #ffb999;
}

footer {
    background-image: linear-gradient(0deg, #222034 95%, #3b4a58);
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 15px;
}

.current-page {
    color: #feeaed;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container>.content {
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 900px;
    font-family: "Fredoka";
    font-size: x-large;
}

.container>header {
    flex: 0 0 250px;
    font-family: "Trebuchet MS", sans-serif;
    margin: 10px;
    font-size: 18px;
    text-align: center;
    line-height: 10px;
    height: 60px;
    align-self: flex-start;
}

.container>aside {
    flex: 0 0 250px;
    font-family: "Trebuchet MS", sans-serif;
    margin: 10px;
    font-size: 15px;
    line-height: 10px;
    text-indent: 10px;
    align-self: flex-end;
}

.compact-list {
    list-style-type: square;
    padding-left: 25px;
    line-height: 18px;
    text-indent: 0;
    font-size: 15px;
}

.compact-list>li+li {
    margin-top: 5px;
}

.authorship-menu {
    line-height: 10px;
    text-indent: 20px;
}

.enclosed-authorship-figure {
    padding-top: 20px;
    padding-right: 20px;
    border: 10px outset #ffcea7;
    width: fit-content;
}